<template>
    <div class="template-request">
        <div class="leftSide">
            <a href="#" class="logo">
                <img src="/img/cab/logo.svg" alt="">
            </a>
            <div class="stepDisplay">
                <!-- если не указывать current - все шаги будут отмечены как пройденные -->
                <div class="step" :class="{ 'current': currentStep === 1 }">
                    <div class="deco"></div>
                    <span>Анкета</span>
                </div>
                <div class="step" :class="{ 'current': currentStep === 2 }">
                    <div class="deco"></div>
                    <span>Підписання</span>
                </div>
                <div class="step" :class="{ 'current': currentStep === 3 }">
                    <div class="deco"></div>
                    <span>Скани</span>
                </div>
            </div>
        </div>
        <div class="centerSide">
            <div class="anketWrp">
                <div class="anketa">
                    <div class="stepDisplayMob">
                        <!-- если не указывать current - все шаги будут отмечены как пройденные -->
                        <div class="step" :class="{ 'current': currentStep === 1 }">
                            <div class="deco"></div>
                            <span>Анкета</span>
                        </div>
                        <div class="step" :class="{ 'current': currentStep === 2 }">
                            <div class="deco"></div>
                            <span>Підписання</span>
                        </div>
                        <div class="step">
                            <div class="deco" :class="{ 'current': currentStep === 3 }"></div>
                            <span>Скани</span>
                        </div>
                    </div>

                    <template v-for="step in steps">
                        <div :class="'form-step form-step' + step" v-if="currentStep === step">
                            <template v-if="step === 1">
                                <Step1 :request_id="requestId" :userId="user_id" :revisions="revisionsData" @setStep="setStep" :operator_grm_list="operator_grm_list"></Step1>
                            </template>
                            <template v-else-if="step === 2">
                                <Step2 :request_id="requestId" :userId="user_id" :revisions="revisionsSignature" @back="back"></Step2>
                            </template>
                            <template v-else-if="step === 3">
                                <Step3 :request_id="requestId" :userId="user_id" :revisions="revisionsFile" :user_premises_owner="user_premises_owner"></Step3>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div class="rightSide">
            <div>
                <div class="leftTipItem">
                    <template v-if="currentStep === 1">
                        <div class="caption">Підказка</div>
                        <p>⭐️🟡ЕІС код - якщо Ви вже споживали природний газ або електроенергію, скоріш за все, у вас існує присвоєний вашому підприємству ЕІС-код...</p>
                    </template>
                </div>
            </div>
            <div>
                <div class="contactWrp">
                    <a href="#">
                        <img src="/img/cab/proneic.svg" alt=""> 800 000 00 00
                    </a>
                    <a href="#">
                        <img src="/img/cab/logos_telegram.svg" alt=""> Telegram
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Step1 from './Step1'
    import Step2 from './Step2'
    import Step3 from './Step3'

    export default {
        name: 'request_form',
        components:{Step1,Step2,Step3},
        data() {
            return {
                steps: [1, 2, 3],
                currentStep: 1,
                requestId:null
            }
        },
        props: {
            user_id:{
                type:Number,
                default:null
            },
            request_id:{
                type: Number,
                default: null,
            },
            request_status:{
                type:Number,
                default:null,
            },
            revisions:{
                type:Array,
                default:null,
            },
            user_premises_owner: {
                type: Number,
                default: null,
            },
            operator_grm_list:{
                type: Array,
                default: []
            }
        },
        methods: {
            setStep(num) {
                this.currentStep = num;
                window.history.replaceState(null, null, "?step=" + this.currentStep);
            },
            back(){
                this.setStep(this.currentStep - 1);
            },
            getQueryParam(item) {
                var svalue = window.location.search.match(new RegExp('[\?\&]' + item + '=([^\&]*)(\&?)', 'i'));
                return svalue ? svalue[1] : svalue;
            }
        },
        mounted() {
            if (this.getQueryParam('step')) {
                this.setStep(parseInt(this.getQueryParam('step')));
            }

            if(this.request_status === 1){
                this.setStep(1);
            }
            if(this.request_status === 2){
                this.setStep(2);
            }
            if(this.request_status === 3){
                this.setStep(3);
            }

            if(this.revisionsData.length){
                this.setStep(1);
            } else if(this.revisionsSignature.length){
                this.setStep(2);
            } else if(this.revisionsFile.length) {
                this.setStep(3);
            }

            console.log(this.user_premises_owner);
        },
        created() {
            this.requestId = this.request_id;
        },
        computed: {
            revisionsData: function () {
                return this.revisions.filter((r) => {
                    return r.type === 1;
                });
            },
            revisionsFile: function () {
                return this.revisions.filter((r) => {
                    return (r.type === 2) && (r.doc_type !== 4);
                });
            },
            revisionsSignature: function () {
                return this.revisions.filter((r) => {
                    return (r.type === 2) && (r.doc_type === 4);
                });
            },
        }

    }
</script>
