<template>
    <div>
        <div class="topInfoTip" v-if="revisions.length">
            <p class="caption">Перевірте правильність наступних документів:</p>
            <p class="tipItem" v-for="(item, index) in revisions">👉 <b>{{docTypes[item.doc_type]}}</b> <span v-if="item.comment"> - {{item.comment}}</span></p>
        </div>

        <h2>Завантаження сканів документів</h2>

        <!------------------------------------------------------------------------------------------------------------->
        <p>1. Завантажте документ, що засвідчує вашу особу</p>

        <div class="rightLink">
            <a href="#">Які документи підходять? <img src="/img/cab/1icon.svg" alt=""></a>
        </div>


        <div class="donwloadItem" v-for="(file, index) in passport_files">
            <img :src="passport_images[index]" alt="">
            <p class="name">{{file.name}}</p>
            <div class="controls">
                <!-- <div class="loading"></div> -->
                <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                <div class="close" @click="removeFile('passport_files',file.name,index)"></div>
            </div>
        </div>

        <div class="dropZoneT1"
             @drop="dropFiles($event, 'input_passport_files','passport_files')"
             @dragover="dragover($event)"
             @dragenter="dragover($event)"
        >
            <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
            <p class="txt">Перетягніть сюди файл або <label for="input_passport_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
            <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
            <input type="file" name="passport_files[]" multiple style="display: none" @change="addFile('passport_files',$event)" id="input_passport_files">
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="zoneDelim"></div>

        <!------------------------------------------------------------------------------------------------------------->
        <p>2. Завантажте ІПН</p>

        <div class="donwloadItem" v-for="(file, index) in inn_files">
            <img :src="inn_images[index]" alt="">
            <p class="name">{{file.name}}</p>
            <div class="controls">
                <!-- <div class="loading"></div> -->
                <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                <div class="close" @click="removeFile('inn_files',file.name,index)"></div>
            </div>
        </div>

        <div class="dropZoneT1"
             @drop="dropFiles($event, 'input_inn_files','inn_files')"
             @dragover="dragover($event)"
             @dragenter="dragover($event)"
        >
            <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
            <p class="txt">Перетягніть сюди файл або <label for="input_inn_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
            <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
            <input type="file" name="inn_files[]" multiple style="display: none" @change="addFile('inn_files',$event)" id="input_inn_files">
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="zoneDelim"></div>

        <!------------------------------------------------------------------------------------------------------------->
        <p>3. Завантажте документ, що підтверджує право власності над об’єктом</p>

        <div class="donwloadItem" v-for="(file, index) in ownership_object_files">
            <img :src="ownership_object_images[index]" alt="">
            <p class="name">{{file.name}}</p>
            <div class="controls">
                <!-- <div class="loading"></div> -->
                <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                <div class="close" @click="removeFile('ownership_object_files',file.name,index)"></div>
            </div>
        </div>

        <div class="dropZoneT1"
             @drop="dropFiles($event, 'input_ownership_object_files','ownership_object_files')"
             @dragover="dragover($event)"
             @dragenter="dragover($event)"
        >
            <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
            <p class="txt">Перетягніть сюди файл або <label for="input_ownership_object_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
            <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
            <input type="file" name="ownership_object_files[]" multiple style="display: none" @change="addFile('ownership_object_files',$event)" id="input_ownership_object_files">
        </div>
        <!------------------------------------------------------------------------------------------------------------->


        <!------------------------------------------------------------------------------------------------------------->
        <template v-if="user_premises_owner">
            <div class="zoneDelim"></div>

            <p>4. Завантажте довіреність на об’єкт газопостачання</p>

            <div class="donwloadItem" v-for="(file, index) in power_attorney_object_files">
                <img :src="power_attorney_object_images[index]" alt="">
                <p class="name">{{file.name}}</p>
                <div class="controls">
                    <!-- <div class="loading"></div> -->
                    <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                    <div class="close" @click="removeFile('power_attorney_object_files',file.name,index)"></div>
                </div>
            </div>

            <div class="dropZoneT1"
                 @drop="dropFiles($event, 'input_power_attorney_object_files','power_attorney_object_files')"
                 @dragover="dragover($event)"
                 @dragenter="dragover($event)"
            >
                <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
                <p class="txt">Перетягніть сюди файл або <label for="input_power_attorney_object_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
                <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
                <input type="file" name="power_attorney_object_files[]" multiple style="display: none" @change="addFile('power_attorney_object_files',$event)" id="input_power_attorney_object_files">
            </div>
        </template>
        <!------------------------------------------------------------------------------------------------------------->

        <!------------------------------------------------------------------------------------------------------------->
        <template v-if="user_premises_owner">
            <div class="zoneDelim"></div>

            <p>5. Завантажте паспорт та код особи, що зазначена в довіреності</p>

            <div class="donwloadItem" v-for="(file, index) in passport_code_person_files">
                <img :src="passport_code_person_images[index]" alt="">
                <p class="name">{{file.name}}</p>
                <div class="controls">
                    <!-- <div class="loading"></div> -->
                    <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                    <div class="close" @click="removeFile('passport_code_person_files',file.name,index)"></div>
                </div>
            </div>

            <div class="dropZoneT1"
                 @drop="dropFiles($event, 'input_passport_code_person_files','passport_code_person_files')"
                 @dragover="dragover($event)"
                 @dragenter="dragover($event)"
            >
                <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
                <p class="txt">Перетягніть сюди файл або <label for="input_passport_code_person_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
                <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
                <input type="file" name="passport_code_person_files[]" multiple style="display: none" @change="addFile('passport_code_person_files',$event)" id="input_passport_code_person_files">
            </div>
        </template>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="zoneDelim"></div>

        <!------------------------------------------------------------------------------------------------------------->
        <p>{{user_premises_owner ? '6' : '4'}}. Завантажте крайній рахунок за постачання та розподіл природного газу</p>

        <div class="donwloadItem" v-for="(file, index) in final_bill_files">
            <img :src="final_bill_images[index]" alt="">
            <p class="name">{{file.name}}</p>
            <div class="controls">
                <!-- <div class="loading"></div> -->
                <div class="loaded"><img src="/img/cab/Rectangle 331.svg" alt=""></div>
                <div class="close" @click="removeFile('final_bill_files',file.name,index)"></div>
            </div>
        </div>

        <div class="dropZoneT1"
             @drop="dropFiles($event, 'input_final_bill_files','final_bill_files')"
             @dragover="dragover($event)"
             @dragenter="dragover($event)"
        >
            <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
            <p class="txt">Перетягніть сюди файл або <label for="input_final_bill_files" style="text-decoration: underline">оберіть його на своєму носії</label></p>
            <p class="descriptionTypes">Допускаються файли форматів .jpg, .JPG, .png, .pdf</p>
            <input type="file" name="final_bill_files[]" multiple style="display: none" @change="addFile('final_bill_files',$event)" id="input_final_bill_files">
        </div>
        <!------------------------------------------------------------------------------------------------------------->

        <div class="botActions">
            <a href="javascript:void(0)" class="controlBtn" @click="sendFiles()">Продовжити</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Step3",
        data() {
            return {
                token: null,
                passport_files: [],
                passport_images: [],
                inn_files: [],
                inn_images: [],
                ownership_object_files: [],
                ownership_object_images: [],
                power_attorney_object_files: [],
                power_attorney_object_images: [],
                passport_code_person_files: [],
                passport_code_person_images: [],
                final_bill_files: [],
                final_bill_images: [],
                formData: new FormData(),
                docTypes:{
                    1:'Заява',
                    2:'Паспорт',
                    3:'ІПН',
                    4:'Підписаний файл заяви',
                    5:'Документ, що підтверджує право власності над об’єктом',
                    6:'Довіреність на об’єкт газопостачання',
                    7:'Паспорт та код особи, що зазначена в довіреності',
                    8:'Крайній рахунок за постачання та розподіл природного газу'
                }
            }
        },
        props: {
            request_id: {
                type: Number,
                default: null
            },
            userId: {
                type: Number,
                default: null
            },
            revisions:{
                type: Array,
                default: []
            },
            user_premises_owner: {
                type: Number,
                default: null,
            }
        },
        methods: {
            dropFiles(e,id,type) {
                let fileInput = document.getElementById(id);

                fileInput.files = e.dataTransfer.files;

                e.preventDefault();

                this.addFile(type,e,fileInput.files);
            },

            dragover(e) {
                e.preventDefault();
            },

            base64zip: function (base64,type) {

                switch (type) {
                    case 'passport_files':
                        var imgData = this.passport_images;
                        break;
                    case 'inn_files':
                        var imgData = this.inn_images;
                        break;
                    case 'ownership_object_files':
                        var imgData = this.ownership_object_images;
                        break;
                    case 'power_attorney_object_files':
                        var imgData = this.power_attorney_object_images;
                        break;
                    case 'passport_code_person_files':
                        var imgData = this.passport_code_person_images;
                        break;
                    case 'final_bill_files':
                        var imgData = this.final_bill_images;
                        break;
                }

                let width, height;

                if(base64.indexOf('application/pdf') !== -1){
                    imgData.push('/img/cab/pdf.png');
                    return;
                }

                let img = document.createElement('img');
                img.src = base64;
                img.onload = function(){
                    let canvasOriginal = document.createElement('canvas'),
                        ctxOriginal = canvasOriginal.getContext('2d');
                    let widthOriginal = this.width;
                    let heightOriginal = this.height;

                    let maxSideOriginal = widthOriginal;

                    let limitSideOriginal = 500;

                    if(heightOriginal > maxSideOriginal) maxSideOriginal = heightOriginal;

                    // Сжать изображение
                    if(maxSideOriginal > limitSideOriginal) {
                        let ratio = maxSideOriginal / limitSideOriginal;
                        widthOriginal = widthOriginal / ratio;
                        heightOriginal = heightOriginal / ratio;
                    }

                    canvasOriginal.width = widthOriginal;
                    canvasOriginal.height = heightOriginal;

                    ctxOriginal.drawImage(this, 0, 0, widthOriginal, heightOriginal);

                    let canvasThumbnail = document.createElement('canvas'),
                        ctxThumbnail = canvasThumbnail.getContext('2d');
                    let widthThumbnail = this.width;
                    let heightThumbnail = this.height;

                    let maxSideThumbnail = widthThumbnail;

                    let limitSideThumbnail = 100;

                    if(heightThumbnail > maxSideThumbnail) maxSideThumbnail = heightThumbnail;

                    // Сжать изображение
                    if(maxSideThumbnail > limitSideThumbnail) {
                        let ratio = maxSideThumbnail / limitSideThumbnail;
                        widthThumbnail = widthThumbnail / ratio;
                        heightThumbnail = heightThumbnail / ratio;
                    }

                    canvasThumbnail.width = widthThumbnail;
                    canvasThumbnail.height = heightThumbnail;

                    ctxThumbnail.drawImage(this, 0, 0, widthThumbnail, heightThumbnail);

                    let thumbnail = canvasThumbnail.toDataURL();

                    imgData.push(thumbnail);
                }
            },

            addFile(obj,event, _files = null) {
                let files = event.target.files;

                if(! files){
                    files = _files;
                }

                switch (obj) {
                    case 'passport_files':
                        for (let i = 0; i < files.length; i++) {
                            this.passport_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'passport_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                    case 'inn_files':
                        for (let i = 0; i < files.length; i++) {
                            this.inn_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'inn_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                    case 'ownership_object_files':
                        for (let i = 0; i < files.length; i++) {
                            this.ownership_object_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'ownership_object_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                    case 'power_attorney_object_files':
                        for (let i = 0; i < files.length; i++) {
                            this.power_attorney_object_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'power_attorney_object_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                    case 'passport_code_person_files':
                        for (let i = 0; i < files.length; i++) {
                            this.passport_code_person_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'passport_code_person_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                    case 'final_bill_files':
                        for (let i = 0; i < files.length; i++) {
                            this.final_bill_files.push(files[i]);

                            let reader = new FileReader();
                            reader.onload = (e) => {
                                this.base64zip(e.target.result,'final_bill_files')
                            }
                            reader.readAsDataURL(files[i]);
                        }
                        break;
                }

                this.refreshFormData();
            },
            refreshFormData() {
                this.formData.delete('passport_files[]');
                this.formData.delete('inn_files[]');
                this.formData.delete('ownership_object_files[]');
                this.formData.delete('power_attorney_object_files[]');
                this.formData.delete('passport_code_person_files[]');
                this.formData.delete('final_bill_files[]');

                for (let i = 0; i < this.passport_files.length; i++) {
                    this.formData.append('passport_files[]', this.passport_files[i]);
                }

                for (let i = 0; i < this.inn_files.length; i++) {
                    this.formData.append('inn_files[]', this.inn_files[i]);
                }

                for (let i = 0; i < this.ownership_object_files.length; i++) {
                    this.formData.append('ownership_object_files[]', this.ownership_object_files[i]);
                }

                for (let i = 0; i < this.power_attorney_object_files.length; i++) {
                    this.formData.append('power_attorney_object_files[]', this.power_attorney_object_files[i]);
                }

                for (let i = 0; i < this.passport_code_person_files.length; i++) {
                    this.formData.append('passport_code_person_files[]', this.passport_code_person_files[i]);
                }

                for (let i = 0; i < this.final_bill_files.length; i++) {
                    this.formData.append('final_bill_files[]', this.final_bill_files[i]);
                }
            },
            sendFiles() {
                axios.post('/profile/request/upload-request-files',
                    this.formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                    .then((response) => {
                        if (response.data.status) {
                            document.location.href = response.data.to_url;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            removeFile(obj, filename, index) {
                let newData = [];
                switch (obj) {
                    case 'passport_files':
                        for(let i=0;i<this.passport_files.length;i++){
                            if(this.passport_files[i].name !== filename){
                                newData.push(this.passport_files[i]);
                            }
                        }
                        this.passport_files = newData;
                        this.passport_images = this.passport_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                    case 'inn_files':
                        for(let i=0;i<this.inn_files.length;i++){
                            if(this.inn_files[i].name !== filename){
                                newData.push(this.inn_files[i]);
                            }
                        }
                        this.inn_files = newData;
                        this.inn_images = this.inn_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                    case 'ownership_object_files':
                        for(let i=0;i<this.ownership_object_files.length;i++){
                            if(this.ownership_object_files[i].name !== filename){
                                newData.push(this.ownership_object_files[i]);
                            }
                        }
                        this.ownership_object_files = newData;
                        this.ownership_object_images = this.ownership_object_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                    case 'power_attorney_object_files':
                        for(let i=0;i<this.power_attorney_object_files.length;i++){
                            if(this.power_attorney_object_files[i].name !== filename){
                                newData.push(this.power_attorney_object_files[i]);
                            }
                        }
                        this.power_attorney_object_files = newData;
                        this.power_attorney_object_images = this.power_attorney_object_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                    case 'passport_code_person_files':
                        for(let i=0;i<this.passport_code_person_files.length;i++){
                            if(this.passport_code_person_files[i].name !== filename){
                                newData.push(this.passport_code_person_files[i]);
                            }
                        }
                        this.passport_code_person_files = newData;
                        this.passport_code_person_images = this.passport_code_person_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                    case 'final_bill_files':
                        for(let i=0;i<this.final_bill_files.length;i++){
                            if(this.final_bill_files[i].name !== filename){
                                newData.push(this.final_bill_files[i]);
                            }
                        }
                        this.final_bill_files = newData;
                        this.final_bill_images = this.final_bill_images.filter((img, i) => {
                            return i !== index;
                        });

                        break;
                }

                this.refreshFormData();
            }
        },
        mounted() {
            this.token = document.querySelector('[name="csrf-token"]').getAttribute('content');
            this.formData.append('request_id', this.request_id);
            this.formData.append('user_id', this.userId);
            this.formData.append('_token', this.token);

            $(".dropZoneT1").on('dragover dragenter',function () {
                $(this).addClass('active');
            })
                .on('dragleave dragend drop', function() {
                    $(this).removeClass('active');
                })
        }
    }
</script>

<style lang="scss">
    .dropZoneT1 {
        &.active {
            box-shadow: 0 0 15px #00000042;
        }
    }
</style>
