<template>
    <div>
        <div class="topInfoTip" v-if="revisions.length">
            <p class="caption">Перевірте правильність заповнення наступних полів:</p>
            <p class="tipItem" v-for="(item, index) in revisions">👉 <b>{{fieldTrans[item.name]}}</b> <span v-if="item.comment"> - {{item.comment}}</span></p>
        </div>

        <h1>Персональна інформація</h1>

        <div class="twoColRows">
            <div class="inputWrap" :class="errors.person_name ? 'tipShown error' : 'tipShown0 error0'">
                <input type="text" v-model="fields.person_name" id="field_person_name"
                       @blur="sendField('person_name',fields.person_name)" name="person_name" placeholder="Iм’я власника">
                <div class="deco"></div>
                <label for="field_person_name">Ім’я</label>
                <div class="botText">{{errors.person_name}}</div>
            </div>
            <div class="inputWrap" :class="errors.person_lastname ? 'tipShown error' : 'tipShown0 error0'">
                <input type="text" v-model="fields.person_lastname"
                       @blur="sendField('person_lastname',fields.person_lastname)" name="person_lastname" placeholder="Прізвище власника" id="field_person_lastname">
                <div class="deco"></div>
                <label for="field_person_lastname">Прізвище</label>
                <div class="botText">{{errors.person_lastname}}</div>
            </div>
            <div class="inputWrap" :class="errors.person_middlename ? 'tipShown error' : 'tipShown0 error0'">
                <input type="text" v-model="fields.person_middlename"
                       @blur="sendField('person_middlename',fields.person_middlename)" name="person_middlename" placeholder="По батькові власника" id="field_person_middlename">
                <div class="deco"></div>
                <label for="field_person_middlename">По батькові</label>
                <div class="botText">{{errors.person_middlename}}</div>
            </div>
            <div class="inputWrap" :class="errors.person_inn ? 'tipShown error' : 'tipShown0 error0'">
                <input type="text" v-model="fields.person_inn" @blur="sendField('person_inn',fields.person_inn)"
                       name="person_inn" placeholder="xxxх xxxх xx" id="field_person_inn">
                <div class="deco"></div>
                <label for="field_person_inn">ІПН</label>
                <div class="botText">{{errors.person_inn}}</div>
            </div>
        </div>

        <div class="radioGroup" :class="errors.subsidy ? 'tipShown error' : 'tipShown0 error0'">
            <div class="title">Наявність  субсидії</div>
            <div class="radioItem" :class="{'active': fields.subsidy == 1}" @click="setSubsidy(1)"><div class="deco"></div> Є субсидія</div>
            <div class="radioItem" :class="{'active': fields.subsidy == 0}" @click="setSubsidy(0)"><div class="deco"></div> Немає субсидії</div>
            <div class="botText">{{errors.subsidy}}</div>
        </div>

        <div class="spivVlasnikWrap">
            <div class="spivVlasnikTitle">
                <img src="/img/cab/img.svg" alt="">
                <span>Дані про співвласника приміщення</span>
            </div>
            <div class="inputWrap tipShown0 error0" v-for="(item, index) in fields.co_owners" :key="index">
                <input type="text" :id="'i1' + index" placeholder="ПІБ співвласника" v-model="item.name" @blur="addCoOwner">
                <div class="deco"></div>
                <label :for="'i1' + index"><template>{{index + 1}}</template>-й співвласник (якщо є) ПІБ</label>
                <div class="botText"></div>
            </div>
        </div>

        <div class="delimeter"></div>

        <div>
            <h2>Дані про газовий лічильник</h2>
            <div class="twoColRows">
                <div class="inputWrap" :class="{'tipShown error': errors.object_type}">
                    <v-select :options="objectTypesData" v-model="fields.object_type"
                              :reduce="val => val.id" label="val"
                              @input="sendField('object_type',fields.object_type)"
                              id="field_object_type"></v-select>
                    <div class="comboboxImg">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.800781L5 5.80078L10 0.800781H0Z" fill="#93A2BF"></path>
                        </svg>
                    </div>
                    <div class="deco"></div>
                    <label for="field_object_type">Вид будівлі</label>
                    <div class="botText">{{errors.object_type}}</div>
                </div>

                <div class="inputWrap" :class="{'tipShown error': errors.consumption_type}">
                    <v-select :options="consumptionTypesData" v-model="fields.consumption_type"
                              :reduce="val => val.id" label="val"
                              @input="sendField('consumption_type',fields.consumption_type)"
                              id="field_consumption_type"></v-select>
                    <div class="comboboxImg">
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.800781L5 5.80078L10 0.800781H0Z" fill="#93A2BF"></path>
                        </svg>
                    </div>
                    <div class="deco"></div>
                    <label for="field_consumption_type">Тип споживання</label>
                    <div class="botText">{{errors.consumption_type}}</div>
                </div>
            </div>

            <div class="inputWrap" :class="errors.code_eic ? 'tipShown error' : 'tipShown0 error0'">
                <input type="text" name="code_eic" v-model="fields.code_eic"
                       @blur="sendField('code_eic',fields.code_eic)" placeholder="56XM xxxx xxxx xx" id="field_code_eic">
                <div class="tipImg" title="Переглянути свій персональний газовий код можна в особистому кабінеті на сайті 104.ua (поруч з номером особового рахунку). Також ЕІС-код може вказуватися постачальниками в рахунках за газ">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0.800781C5.383 0.800781 0 6.18378 0 12.8008C0 19.4178 5.383 24.8008 12 24.8008C18.617 24.8008 24 19.4178 24 12.8008C24 6.18378 18.617 0.800781 12 0.800781ZM12 2.80078C17.535 2.80078 22 7.26578 22 12.8008C22 18.3358 17.535 22.8008 12 22.8008C6.465 22.8008 2 18.3358 2 12.8008C2 7.26578 6.465 2.80078 12 2.80078ZM12 6.80078C9.8 6.80078 8 8.60078 8 10.8008H10C10 9.68378 10.883 8.80078 12 8.80078C13.117 8.80078 14 9.68378 14 10.8008C13.9997 11.1745 13.8818 11.5386 13.6631 11.8416C13.4443 12.1446 13.1357 12.371 12.781 12.4888L12.375 12.6128C11.9753 12.7475 11.6278 13.0039 11.3812 13.346C11.1346 13.6882 11.0013 14.099 11 14.5208V15.8008H13V14.5198L13.406 14.3948C14.1595 14.1415 14.8148 13.6588 15.28 13.0142C15.7452 12.3697 15.997 11.5957 16 10.8008C16 8.60078 14.2 6.80078 12 6.80078ZM11 16.8008V18.8008H13V16.8008H11Z" fill="#93A2BF"></path>
                    </svg>
                </div>
                <div class="deco"></div>
                <label for="field_code_eic">Еіс-код</label>
                <div class="botText">{{errors.code_eic}}</div>
            </div>

            <div class="inputWrap" :class="{'tipShown error': errors.operator_grm}">
                <v-select :options="operatorGrmData" v-model="fields.operator_grm"
                          :reduce="val => val.id" label="val"
                          @input="sendField('operator_grm',fields.operator_grm)"
                          id="field_operator_grm"></v-select>
                <div class="comboboxImg">
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.800781L5 5.80078L10 0.800781H0Z" fill="#93A2BF"></path>
                    </svg>
                </div>
                <div class="deco"></div>
                <label for="field_operator_grm">Найменування оператора грм</label>
                <div class="botText">{{errors.operator_grm}}</div>
            </div>

            <div class="inputWrap" :class="{'tipShown error': errors.operator_grm_our}" v-if="fields.operator_grm == '-1'">
                <input type="text" id="field_operator_grm_our" v-model="fields.operator_grm_our" placeholder="Уведіть назву оператора ГРМ" @blur="sendField('operator_grm',fields.operator_grm_our)">
                <div class="deco"></div>
                <label for="field_operator_grm_our">Найменування оператора грм</label>
                <div class="botText">{{errors.operator_grm_our}}</div>
            </div>

            <div class="radioGroup" :class="errors.presence_meter ? 'tipShown error' : 'tipShown0 error0'">
                <div class="title">Наявність  лічильника</div>
                <div class="radioItem" :class="{'active': fields.presence_meter == 1}" @click="setPresenceMeter(1)"><div class="deco"></div> Є лічильник</div>
                <div class="radioItem" :class="{'active': fields.presence_meter == 0}" @click="setPresenceMeter(0)"><div class="deco"></div> Немає лічильника</div>
                <div class="botText">{{errors.presence_meter}}</div>
            </div>
        </div>

        <div class="delimeter"></div>

        <div>
            <h2>Адреса газового лічильника</h2>
            <div class="twoColRows">
                <div class="inputWrap" :class="{'tipShown error': errors.region}">
                    <input type="text" id="field_region" placeholder="Введіть назву вручну" v-model="fields.region" name="region" @blur="sendField('region',fields.region)">
                    <div class="deco"></div>
                    <label for="field_region">Область</label>
                    <div class="botText">{{errors.region}}</div>
                </div>
                <div class="inputWrap" :class="{'tipShown error': errors.city}">
                    <input type="text" name="city" id="field_city" v-model="fields.city" @blur="sendField('city',fields.city)" placeholder="Введіть назву вручну">
                    <div class="deco"></div>
                    <label for="field_city">Населений пункт</label>
                    <div class="botText">{{errors.city}}</div>
                </div>
            </div>
            <div class="twoColRows">
                <div class="inputWrap" :class="{'tipShown error': errors.district}">
                    <input type="text" name="district" v-model="fields.district"
                           @blur="sendField('district',fields.district)"  placeholder="Введіть назву вручну" id="field_district">
                    <div class="deco"></div>
                    <label for="field_district">Район</label>
                    <div class="botText">{{errors.district}}</div>
                </div>
                <div class="inputWrap" :class="{'tipShown error': errors.street}">
                    <input type="text" name="street" v-model="fields.street"
                           @blur="sendField('street',fields.street)" placeholder="Введіть назву вручну" id="field_street">
                    <div class="deco"></div>
                    <label for="field_street">Вулиця</label>
                    <div class="botText">{{errors.street}}</div>
                </div>
            </div>
            <div class="twoColRows">
                <div class="inputWrap" :class="{'tipShown error': errors.house}">
                    <input type="text" name="house" v-model="fields.house" @blur="sendField('house',fields.house)" placeholder="Введіть назву вручну" id="field_house">
                    <div class="deco"></div>
                    <label for="field_house">будинок</label>
                    <div class="botText">{{errors.house}}</div>
                </div>
                <div class="inputWrap" :class="{'tipShown error': errors.zip_code}">
                    <input type="text" name="zip_code" v-model="fields.zip_code"
                           @blur="sendField('zip_code',fields.zip_code)" placeholder="Введіть назву вручну" id="field_zip_code">
                    <div class="deco"></div>
                    <label for="field_zip_code">індекс</label>
                    <div class="botText">{{errors.zip_code}}</div>
                </div>
            </div>
        </div>

        <div class="delimeter"></div>

        <div class="tarifAnketSection">
            <h2>Деталі підключення</h2>

            <div class="inputWrap" :class="{'tipShown error': errors.number_residents}">
                <input type="text" name="number_residents" v-model="fields.number_residents"
                       @blur="sendField('number_residents',fields.number_residents)" placeholder="Введіть вручну" id="field_number_residents">
                <div class="deco"></div>
                <label for="field_number_residents">Кількість проживаючих</label>
                <div class="botText">{{errors.number_residents}}</div>
            </div>

            <div class="tarifPicker" :class="{'tipShown error': errors.tariff}">
                <div class="title">Тариф</div>
                <div class="item" :class="{'active': fields.tariff == 2}" @click="setTariff(2)">
                    <div class="deco"></div>
                    <div class="caption">Щорічний</div>
                    <ul>
                        <li>
                            <span class="price">2.72<span> ₴/M3</span></span>
                        </li>
                        <li>Ціна не змінюється</li>
                        <li>Передплата на рік</li>
                        <li>Термін дії - календарний на рік</li>
                    </ul>
                </div>
                <div class="item" :class="{'active': fields.tariff == 1}" @click="setTariff(1)">
                    <div class="deco"></div>
                    <div class="caption">Щомісячний</div>
                    <ul>
                        <li>
                            <span class="price">6.73<span> ₴/M3</span></span>
                        </li>
                        <li>Ціна змінюється щомісяця</li>
                        <li>Сплачуєте за фактом споживання</li>
                        <li>Термін дії - бестроковий</li>
                    </ul>
                </div>
                <div class="botText">{{errors.tariff}}</div>
            </div>

            <div class="tarifPayPicker" :class="{'tipShown error': errors.payment_method}">
                <div class="title">спосіб оплати</div>
                <div class="item" :class="{'active': fields.payment_method == 1}" @click="setPaymentMethod(1)">
                    <div class="deco"></div>
                    <div class="caption">За квитанціями розрахункової книжки постачальника</div>
                    <div class="tipImg">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0.800781C5.383 0.800781 0 6.18378 0 12.8008C0 19.4178 5.383 24.8008 12 24.8008C18.617 24.8008 24 19.4178 24 12.8008C24 6.18378 18.617 0.800781 12 0.800781ZM12 2.80078C17.535 2.80078 22 7.26578 22 12.8008C22 18.3358 17.535 22.8008 12 22.8008C6.465 22.8008 2 18.3358 2 12.8008C2 7.26578 6.465 2.80078 12 2.80078ZM12 6.80078C9.8 6.80078 8 8.60078 8 10.8008H10C10 9.68378 10.883 8.80078 12 8.80078C13.117 8.80078 14 9.68378 14 10.8008C13.9997 11.1745 13.8818 11.5386 13.6631 11.8416C13.4443 12.1446 13.1357 12.371 12.781 12.4888L12.375 12.6128C11.9753 12.7475 11.6278 13.0039 11.3812 13.346C11.1346 13.6882 11.0013 14.099 11 14.5208V15.8008H13V14.5198L13.406 14.3948C14.1595 14.1415 14.8148 13.6588 15.28 13.0142C15.7452 12.3697 15.997 11.5957 16 10.8008C16 8.60078 14.2 6.80078 12 6.80078ZM11 16.8008V18.8008H13V16.8008H11Z" fill="#93A2BF"></path>
                        </svg>
                    </div>
                </div>
                <div class="item" :class="{'active': fields.payment_method == 2}" @click="setPaymentMethod(2)">
                    <div class="deco"></div>
                    <div class="caption">За платіжними документами, які виписує постачальник</div>
                    <div class="tipImg">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 0.800781C5.383 0.800781 0 6.18378 0 12.8008C0 19.4178 5.383 24.8008 12 24.8008C18.617 24.8008 24 19.4178 24 12.8008C24 6.18378 18.617 0.800781 12 0.800781ZM12 2.80078C17.535 2.80078 22 7.26578 22 12.8008C22 18.3358 17.535 22.8008 12 22.8008C6.465 22.8008 2 18.3358 2 12.8008C2 7.26578 6.465 2.80078 12 2.80078ZM12 6.80078C9.8 6.80078 8 8.60078 8 10.8008H10C10 9.68378 10.883 8.80078 12 8.80078C13.117 8.80078 14 9.68378 14 10.8008C13.9997 11.1745 13.8818 11.5386 13.6631 11.8416C13.4443 12.1446 13.1357 12.371 12.781 12.4888L12.375 12.6128C11.9753 12.7475 11.6278 13.0039 11.3812 13.346C11.1346 13.6882 11.0013 14.099 11 14.5208V15.8008H13V14.5198L13.406 14.3948C14.1595 14.1415 14.8148 13.6588 15.28 13.0142C15.7452 12.3697 15.997 11.5957 16 10.8008C16 8.60078 14.2 6.80078 12 6.80078ZM11 16.8008V18.8008H13V16.8008H11Z" fill="#93A2BF"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="botText">{{errors.payment_method}}</div>
        </div>

        <div class="botActions">
            <a href="javascript:void(0)" @click="submitForm()" class="controlBtn">Продовжити</a>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';

    export default {
        name: "Step1",
        components:{
            vSelect
        },
        data() {
            return {
                objectTypesData: [
                    {id:1,val:'Приватні будинки'},
                    {id:2,val:'Багатоповерхівка'},
                    {id:3,val:'Новозбудована споруда'},
                    {id:4,val:'Квартира'},
                    {id:5,val:'Офісне приміщення'},
                    {id:6,val:'Пентхаус'},
                    {id:7,val:'Виробничі приміщення'},
                    {id:8,val:'Дача або будівля поза містом'}
                ],
                consumptionTypesData: [
                    {id:1,val:'Приготування'},
                    {id:2,val:'Приготування/водонагрівання'},
                    {id:3,val:'Опалення'},
                    {id:4,val:'Комплекс'}
                ],
                fields: {
                    person_name: "",
                    person_lastname: "",
                    person_middlename: "",
                    person_inn: "",
                    subsidy: 0,
                    object_type: 0,
                    consumption_type: 0,
                    operator_grm: '',
                    operator_grm_our: '',
                    code_eic: "",
                    presence_meter: 0,
                    region: "",
                    city: "",
                    district: "",
                    street: "",
                    house: "",
                    zip_code: "",
                    tariff: 0,
                    number_residents: "",
                    payment_method: 0,
                    co_owners: [{name:""}]
                },
                errors: {
                    person_name: "",
                    person_lastname: "",
                    person_middlename: "",
                    person_inn: "",
                    subsidy: "",
                    object_type: "",
                    consumption_type: "",
                    operator_grm: "",
                    operator_grm_our: "",
                    code_eic: "",
                    presence_meter: "",
                    region: "",
                    city: "",
                    district: "",
                    street: "",
                    house: "",
                    zip_code: "",
                    tariff: "",
                    number_residents: "",
                    payment_method: "",
                    co_owners: ""
                },
                requestId: null,
                fieldTrans: {
                    person_name: "Ім’я",
                    person_lastname: "Прізвище",
                    person_middlename: "По-батькові",
                    person_inn: "ІПН",
                    object_type: "Вид об’єкта",
                    consumption_type: "Тип споживання",
                    operator_grm: "Найменування оператора ГРМ",
                    code_eic: "ЕІС-код",
                    presence_meter: "Наявність лічильника",
                    region: "Область",
                    city: "Населений пункт",
                    district: "Район",
                    street: "Вулиця",
                    house: "Будинок",
                    zip_code: "Індекс",
                    tariff: "Тариф",
                    subsidy: "Наявність пільг/субсидій",
                    promo_code: "Промокод",
                    number_residents: "Кількість проживаючих",
                    co_owners: "Співвлсники",
                    payment_method: "Спосіб оплати"
                }
            }
        },
        props: {
            request_id: {
                type: Number,
                default: null
            },
            userId: {
                type: Number,
                default: null
            },
            revisions: {
                type: Array,
                default: []
            },
            operator_grm_list: {
                type: Array,
                default: []
            }
        },
        methods: {
            clearErrors(){
                for(let i in this.errors){
                    this.errors[i] = "";
                }
            },

            setSubsidy(val){
                this.fields.subsidy = val;
                this.sendField('subsidy',val);
            },

            setPresenceMeter(val){
                this.fields.presence_meter = val;
                this.sendField('presence_meter',val);
            },

            setTariff(val){
                this.fields.tariff = val;
                this.sendField('tariff',val);
            },

            setPaymentMethod(val){
                this.fields.payment_method = val;
                this.sendField('payment_method',val);
            },

            addCoOwner(){
                if(this.fields.co_owners[this.fields.co_owners.length - 1].name !== "") {
                    this.fields.co_owners.push({name:""});
                }

                let newArr = [];

                for (let i = 0; i<this.fields.co_owners.length;i++){
                    if(this.fields.co_owners[i].name !== "" || i === this.fields.co_owners.length - 1){
                         newArr.push(this.fields.co_owners[i]);
                    }
                }

                this.fields.co_owners = newArr;

                this.$forceUpdate();
            },

            validate(callback = function () {
            }) {
                axios.post("/profile/request/ajax-validate", {
                    _token: document.querySelector('[name="csrf-token"]').getAttribute('content'),
                    step: 1,
                    fields: this.fields,
                    request_id: this.requestId
                })
                    .then((response) => {
                        this.clearErrors();
                        if ($.isEmptyObject(response.data)) {
                            callback();
                        } else {
                            for(let i in this.errors){
                                for (let j in response.data) {
                                    if (j == i) {
                                        this.errors[i] = response.data[j][0];
                                    }
                                }
                            }
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            submitForm() {
                let submit = () => {
                    axios.post("/profile/request/store", {
                        _token: document.querySelector('[name="csrf-token"]').getAttribute('content'),
                        fields: this.fields,
                        request_id: this.requestId
                    })
                        .then((response) => {
                            if(response.data.status){
                                this.$emit('setStep',response.data.step);
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                };
                this.validate(submit);
            },
            sendField(field, val) {
                if (this.revisions.length > 0) return;
                axios.post("/profile/request/set-field", {
                    _token: document.querySelector('[name="csrf-token"]').getAttribute('content'),
                    field: field,
                    val: val,
                    request_id: this.requestId,
                    user_id: this.userId
                })
                    .then((response) => {
                        console.log(response.data);
                        this.requestId = response.data.request_id;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        },
        mounted() {
            if (this.requestId) {
                axios.post("/profile/request/get-request", {
                    _token: document.querySelector('[name="csrf-token"]').getAttribute('content'),
                    request_id: this.requestId,
                    user_id: this.userId
                })
                    .then((response) => {
                        if (response.data.success) {
                            this.fields = response.data.model;

                            if(response.data.model.co_owners){
                                this.fields.co_owners = JSON.parse(response.data.model.co_owners);
                            } else {
                                this.fields.co_owners = [{name:""}];
                            }

                            if (this.fields.operator_grm !== '') {
                                if (this.operator_grm_list.indexOf(this.fields.operator_grm) === -1) {
                                    this.fields.operator_grm_our = this.fields.operator_grm;
                                    this.fields.operator_grm = '-1';
                                }
                            }

                            if(this.revisions.length){
                                this.validate();
                            }
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        },
        created() {
            this.requestId = this.request_id;
        },
        computed:{
            operatorGrmData: function () {
                let newArr = [];

                for(let i in this.operator_grm_list){
                    newArr.push({
                        id:this.operator_grm_list[i],
                        val:this.operator_grm_list[i]
                    });
                }

                newArr.push({
                    id:"-1",
                    val:'Свій варіант'
                });

                return newArr;
            }
        }
    }
</script>
