<template>
    <div>
        <div class="topInfoTip" v-if="revisions.length">
            <p class="caption">Перевірте правильність наступних документів:</p>
            <p class="tipItem" v-for="(item, index) in revisions">👉 <b>{{docTypes[item.doc_type]}}</b> <span v-if="item.comment"> - {{item.comment}}</span></p>
        </div>

        <div class="topBtns" v-if="currentStep === 1">
            <a href="javascript:void(0)" class="controlBtn back" @click="back">
                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.55078 11.0011L11.4503 1.10156M1.55078 11.0011L11.4503 20.9006M1.55078 11.0011H20.4503" stroke-width="2"></path>
                </svg>
            </a>
        </div>

        <!--step 1-->
        <template v-if="currentStep === 1">
            <h2>Підписання заяви на підключення</h2>
            <p>Оберіть одне 👇</p>
            <div>
                <a href="javascript:void(0)" class="wideActionLink2" @click="currentStep = 2">
                    <div class="textCont">
                        <span class="txt">Підписання ЕЦП</span>
                        <span class="sub">за допомогою електронно цифрового підпису</span>
                    </div>
                    <div class="deco"><img src="/img/cab/rightArr.svg" alt=""></div>
                </a>
                <a href="javascript:void(0)" class="wideActionLink2" @click="currentStep = 3">
                    <div class="textCont">
                        <span class="txt">Підписання вручну</span>
                        <span class="sub">Скачати, роздрукувати та підписати рукою</span>
                    </div>
                    <div class="deco"><img src="/img/cab/rightArr.svg" alt=""></div>
                </a>
            </div>
        </template>


        <!--step 2-->
        <div v-if="currentStep === 2">
            <div class="topBtns">
                <a href="javascript:void(0)" class="controlBtn back" @click="currentStep = 1">
                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.55078 11.0011L11.4503 1.10156M1.55078 11.0011L11.4503 20.9006M1.55078 11.0011H20.4503" stroke-width="2"></path>
                    </svg>
                </a>
            </div>

            <h2>Підписання ЕЦП</h2>
            <p>1. Скачайте заявку на ваш комп’ютер</p>
            <a href="javascript:void(0)" @click="getRequestPdf()" class="wideActionLink2">
                <div class="textCont">
                    <span class="txt">Скачати PDF</span>
                </div>
                <div class="deco"><img src="/img/cab/331123.svg" alt=""></div>
            </a>

            <div class="zoneDelim"></div>
            <p>2. Перейдіть на сайт Дія та слідкуйте за підказками</p>
            <div class="diaLnks">
                <a href="https://sign.diia.gov.ua/" target="_blank">Перейти на <img src="/img/cab/diia-logo.a25c719a 1.svg" alt="1"></a>
            </div>

            <div class="zoneDelim"></div>
            <p>3. Завантажте підписану заявку</p>

            <form action="/profile/request/get-request-pdf" method="POST">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="request_id" :value="request_id">
                <input type="hidden" name="user_id" :value="userId">
                <input type="hidden" name="file_type" value="4">
                <input type="submit" id="submit_get_request_pdf" style="display: none">
            </form>

            <input type="file" accept=".p7s" id="file_upload_input" ref="file" style="display: none"
                   @change="uploadSignature()">

            <div class="dropZoneT1" id="drop_area"
                 @drop="dropFiles($event)"
                 @dragover="dragover($event)"
                 @dragenter="dragover($event)"
            >
                <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
                <p class="txt">Перетягніть сюди файл або <label for="file_upload_input" style="text-decoration: underline">оберіть його на своєму носії</label></p>
                <p class="descriptionTypes">Допускаються файли формату .p7s</p>
            </div>

            <div class="botActions">
                <a href="javascript:void(0)" class="controlBtn back" @click="currentStep = 1">
                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.55078 11.0011L11.4503 1.10156M1.55078 11.0011L11.4503 20.9006M1.55078 11.0011H20.4503" stroke-width="2"></path>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="controlBtn" v-if="isNext" @click="next">Продовжити</a>
            </div>
        </div>

        <!--step 3-->
        <div v-if="currentStep === 3">
            <div class="topBtns">
                <a href="javascript:void(0)" class="controlBtn back" @click="currentStep = 1">
                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.55078 11.0011L11.4503 1.10156M1.55078 11.0011L11.4503 20.9006M1.55078 11.0011H20.4503" stroke-width="2"></path>
                    </svg>
                </a>
            </div>

            <h2>Підписання ЕЦП</h2>
            <p>1. Скачайте заявку на ваш комп’ютер</p>
            <a href="javascript:void(0)" class="wideActionLink2" @click="getRequestPdf()">
                <div class="textCont">
                    <span class="txt">Скачати PDF</span>
                </div>
                <div class="deco"><img src="/img/cab/331123.svg" alt=""></div>
            </a>

            <div class="zoneDelim"></div>
            <p>2. Підпишіть заявку вручну кульковою ручкою </p>
            <div class="manualSignDeco">
                <img src="/img/cab/undraw_Terms_re_6ak4 1.svg" alt="">
            </div>

            <form action="/profile/request/get-request-pdf" method="POST">
                <input type="hidden" name="_token" :value="token">
                <input type="hidden" name="request_id" :value="request_id">
                <input type="hidden" name="user_id" :value="userId">
                <input type="hidden" name="file_type" value="2">
                <input type="submit" id="submit_get_request_pdf" style="display: none">
            </form>

            <input type="file" accept="image/*" id="file_upload_input" ref="file" style="display: none"
                   @change="uploadSignature()">

            <div class="zoneDelim"></div>
            <p>3. Завантажте підписану заявку</p>
            <div class="infoDiv">
                <div class="deco">☝</div>
                <p>Увага! щоб завантажити документи заздалегіть відскануйте їх або сфотографуйте на телефон під гарним освітленням.</p>
                <p>Якщо ви сфотографуівали документи на телефон, упевнитесь, що фотографія гарної якості, документ добре видно, на фотографії немає зайвих предметів. </p>
            </div>

            <div class="dropZoneT1" id="drop_area"
                 @drop="dropFiles($event)"
                 @dragover="dragover($event)"
                 @dragenter="dragover($event)"
            >
                <img src="/img/cab/undraw_Add_files_re_v09g 1.svg" alt="">
                <p class="txt">Перетягніть сюди файл або <label for="file_upload_input" style="text-decoration: underline">оберіть його на своєму носії</label></p>
                <p class="descriptionTypes">Допускаються файли формату .jpg, .JPG, .png, .pdf</p>
            </div>

            <div class="botActions">
                <a href="javascript:void(0)" class="controlBtn back" @click="currentStep = 1">
                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.55078 11.0011L11.4503 1.10156M1.55078 11.0011L11.4503 20.9006M1.55078 11.0011H20.4503" stroke-width="2"></path>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="controlBtn" v-if="isNext" @click="next">Продовжити</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Step2",
        data() {
            return {
                token: null,
                file: '',
                docTypes: {
                    1: 'Заява',
                    2: 'Паспорт',
                    3: 'ІПН',
                    4: 'Підписаний файл заяви',
                    5: 'Документ, що підтверджує право власності над об’єктом',
                    6: 'Довіреність на об’єкт газопостачання',
                    7: 'Паспорт та код особи, що зазначена в довіреності',
                    8: 'Крайній рахунок за постачання та розподіл природного газу'
                },
                currentStep: 1,
                isNext: false,
                uploadResultData: null
            }
        },
        props: {
            request_id: {
                type: Number,
                default: null
            },
            userId: {
                type: Number,
                default: null
            },
            revisions: {
                type: Array,
                default: []
            }
        },
        methods: {
            dropFiles(e) {
                let fileInput = document.getElementById('file_upload_input');

                const dT = new DataTransfer();

                dT.items.add(e.dataTransfer.files[0]);
                fileInput.files = dT.files;

                e.preventDefault();

                this.uploadSignature();
            },
            dragover(e) {
                e.preventDefault();
            },
            uploadSignature() {
                this.file = this.$refs.file.files[0];
                let formData = new FormData();

                formData.append('file', this.file);
                formData.append('request_id', this.request_id);
                formData.append('user_id', this.userId);
                formData.append('_token', document.querySelector('[name="csrf-token"]').getAttribute('content'));
                formData.append('file_type', $("input[name='file_type']").val());

                axios.post('/profile/request/upload-request-signature',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                    .then((response) => {
                        this.uploadResultData = response.data;
                        this.isNext = true;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getRequestPdf() {
                $("#submit_get_request_pdf").trigger('click');
            },
            back() {
                this.$emit('back', {});
            },
            next(){
                let data = this.uploadResultData;
                if (data.to_url) {
                    document.location.href = data.to_url;
                } else {
                    this.$parent.setStep(data.step);
                    this.requestId = data.request_id;
                }
            }
        },
        mounted() {
            this.token = document.querySelector('[name="csrf-token"]').getAttribute('content');
        }
    }
</script>
